body {
    background-color: #ddd;
}

h1 {
    font-size: 20px;
    text-decoration: underline;
    margin-left: 100px;
    color: #666;
    margin-bottom: 30px;
}

p {
    margin-bottom: 10px;
    font-size: 20px;
    font: bold;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: column;
    background-color: #fff;
    height: 1000px;
    width: 600px;
    margin: 0 auto;
    border: 1px solid;
  }

.margin {
      margin: 20px 60px;
  }

.form-one {
    margin-bottom: 40px;
}

.form-two {
    margin-bottom: 60px;
}
  .input {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid gray;
}

  .small-text  {
      font-size: 15px;
      font-style: italic;
      color: #777;
      margin-bottom: 60px;
  }

  .em-bold{
      color: #222;
  }

  .checkbox1, .checkbox2, .radio1, .radio2, .button1, .button2 {
    background-image: url('form-elements-sprite.png');
    background-repeat: no-repeat;
    background-size: 480px 220px;
  }
  
  .checkbox1 {
    height: 400px;
    width: 60px;
    background-position: -50px -80px;
  }
  
  /* .checkbox2 {
    height: 135px;
    background-position: -5px -143px;
  } */
  
  /* .radio1 {
    height: 147px;
    background-position: -5px -288px;
  }

  .radio2 {
    height: 147px;
    background-position: -5px -288px;
  }

  .button1 {
    height: 147px;
    background-position: -5px -288px;
  }

  .button2 {
    height: 147px;
    background-position: -5px -288px;
  } */